body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #1f1e1e;
    font-family: "Comic Neue", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #666666;
}

.text-blue {
    color: #246dec;
}

.text-red {
    color: #581d1d;
}

.text-green {
    color: #1baf5e;
}

.text-orange {
    color: #8a5417;
}

.font-weight-bold {
    font-weight: 600;
}


.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 px 7px -4px rgb(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
}

#sidebar {
    grid-area: sidebar;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

.epics-container {

    size-adjust: True;
    font-size: smaller;
   
}

.parameter-container {

    size-adjust: True;
    font-size: smaller;
   
}

.epics-container input[name='epic'] {
    background-color: #dedfe2;
    color: #525852;

    font-size: 16px;
    font-weight: 600;
      
    text-align: center
}

.epics-container input[name='benefit'] {
    background-color: #dedfe2;
    font-size: 16px;
    font-weight: 600;
    color: #0aeb0a;
    text-align: right;
    
}

.epics-container input[name='cost'] {
    color:crimson;
    font-size: 16px;
    font-weight: 600;
    background-color: #dedfe2;
    text-align: right
}

.epics-container input[name='time'] {
    color: #525852;
    font-size: 16px;
    font-weight: 600;
    background-color: #dedfe2;
    text-align: right
}

.epics-container input[name='benefit/cost'] {
    color:blueviolet;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(185, 184, 184) ;
    text-align: right
}


.parameters-container input[name='capacity'] {
    color: #525852;
    font-size: 16px;
    font-weight: 600;
    background-color: #dedfe2;
    margin: 10px 2px;
    text-align: right;
    
    
}

.parameters-container input[name='horizon'] {
    color: #525852;
    font-size: 16px;
    font-weight: 600;
    background-color: #dedfe2;
    margin: 5px 2px;
    text-align: right
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title>p {
    font-size: 25px;
    font-weight: 600;
}

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:nth-child(1) {
    border-left: 7px solid #246edc;
}

.card:nth-child(2) {
    border-left: 7px solid #dc9c24;
}

.card:nth-child(3) {
    border-left: 7px solid #24dc5b;
}

.card:nth-child(4) {
    border-left: 7px solid #df600c;
}

.card>span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner>p {
    font-size: 18px;
}

.card-inner>span {
    font-size: 35px;
}


.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.charts-card {
    background-color: #7d8d96;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 3px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.processButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
}

.editButton {
    background-color: #525852;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
  
}